<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head th:replace="fragments::head">

    <!--since we are replacing it with the head from fragments.html-->
    <!--<meta charset="UTF-8"/>-->
    <!--<title th:text="${title}">Title</title>-->
    <!--&lt;!&ndash; ${title} to render the title in model.addAttribute()&ndash;&gt;-->
</head>
<body>
<h1 th:text="${title}">Default Title</h1>

<nav th:replace="fragments:: navigation"></nav>

<!--<a href="/cheese/add">Add Cheese!</a>-->
<p th:unless="${cheeses} and ${cheeses.size()}">no cheese :(((</p>
<table cellspacing="100">
    <tr>
        <th th:if="${cheeses} and ${cheeses.size()}" width="100 px">
         Cheese
        </th>
        <th th:if="${cheeses} and ${cheeses.size()}">
         Description
        </th>
    </tr>
    <tr th:each="cheese:${cheeses}">
        <td th:text="${cheese.name}">
            //thymeleaf will call the getter for
            //those private fields

        </td>

        <td th:text="${cheese.description}">

        </td>
        <td>
            <a th:href="@{'/cheese/edit/' + ${cheese.cheeseId}}">edit</a>
        </td>
    </tr>
</table>
<!--<ul>-->
    <!--<li th:each="cheese : ${cheeses}" th:text="${cheese}"></li>-->
<!--</ul>-->

</body>
</html>

